@using Entities.Concrete
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-controller="Product" asp-action="AddProductMethod" method="POST" enctype="multipart/form-data">

    <div class="formContainer">

        <img class="imgPrvt" src="/image/add.png" style="margin-bottom: 23px;">

        <div style="display: flex;">

            <input class="inputForm" name="procutName" placeholder="Ürün İsmi" required>

            <input class="inputForm" name="price" placeholder="Fiyat" required>

        </div>

        <select class="inputFormV2" name="categoryId" placeholder="Description" required>

            @foreach (var item in (List<CategoryTableDto>)ViewData["categorysForProduct"])
            {
                <option value="@item.Id">@item.CategoryName</option>

            }

        </select>

        <input type="file" name="photo" id="photo" class="inputFormFile" accept="image/*" required />

        


        <button class="buttonPrvt" type="submit" style="margin-bottom: 25px;"> Add Product </button>

    </div>

</form>